body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
    background-color: #e90707;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .container-fluid .thumbnail:hover{
    transform: scale(1.1);
    transition: 1s;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #e90707;
    font-size: 50px;
  }
  .logo {
    color: #e90707;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #e90707;
  }
  .carousel-indicators li {
    border-color: #e90707;
  }
  .carousel-indicators li.active {
    background-color: #e90707;
  }
  .carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(60%); 
  width: 95%;
  height: 700px !important;
  padding-top: 20px;
  margin: auto;
}
.carousel-caption h3 {
  color: #fff !important;
}
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
 
  .panel {
    border: 1px solid #e90707; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 7px 0px 40px rgba(0,0,0, .8);
  }
  .panel-footer .btn:hover {
    border: 1px solid #e90707;
    background-color: #fff !important;
    color: #e90707;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #e90707 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #e90707;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #e90707;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #e90707 !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #e90707;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    #mycarousel{
      width: 600px !important;
    }
    .carousel-inner .item{
      margin-top: 0;
      width: 100%;
      height:350px;
    }
    .carousel-inner .item img{
      margin-top: 0;
      width: 100%;
      height: 60%;
      object-fit: cover;
    }
    .col-sm-4 .logo {
    display: none !important;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
    .btn-lg:hover{
      background-color: #1ebe57 !important;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }

.fa-whatsapp {
  position: fixed;
  width: 65px;
  height: 65px;
  bottom: 25px;
  right: 25px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 38px !important;       
  line-height: 65px !important;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}
.fa-whatsapp:hover {
  background-color: #1ebe57;
  text-decoration: none;
  transform: scale(1.1);
}